@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  color: #333333;
  font-family: "Lato", sans-serif;
}
.banner {
  text-align: center;
  color: #ffd52f;
  background-color: #222222;
  height: 1.2rem;
  font-size: 0.8rem;
}
.banner a {
  color: #ffd52f;
}
.banner p {
  padding-top: 3px;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.navbar-left img {
  width: 70%;
}
.navbar-center {
  grid-column: 2/5;
  text-align: center;
}
.navbar-center a,
.navbar-center button {
  margin: 0 1rem;
}
.navbar-right {
  text-align: end;
}
.navbar-right a {
  position: relative;
  bottom: 0.5rem;
}
.dropdown-btn {
  background-color: white;
  border: none;
}
.navbar-center a,
.navbar-center button,
.navbar-right a {
  text-decoration: underline;
  font-size: 1.5rem;
  color: #333333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.dropdown,
.navbar-links,
.navbar-right a {
  position: relative;
  display: inline-block;
  margin: 1rem 0.5rem 0 0.5rem;
  font-size: 1.5rem;
}
.navbar-right a {
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #ffd52f;
  margin-right: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 2.2rem;
  left: 1rem;
}
.dropdown-content a {
  color: #fcfcfc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}
.navbar-center a:hover,
.navbar-center button:hover {
  color: #ffd52f;
}
.dropdown-content a:hover {
  background-color: #282b28;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.home-image img {
  position: absolute;
  width: 110%;
  height: 70%;
  object-fit: cover;
  object-position: 40% 30%;
}
.header {
  position: relative;
  padding: 3.1rem 2rem 0 3rem;
  color: #111111;
  width: 44%;
}
.header h1 {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 0.8rem;
  text-decoration: underline;
}
.header p {
  font-size: 1rem;
  font-weight: 600;
}
.header a {
  position: relative;
  top: 4rem;
  left: 8rem;
}
.header a,
.help-text a {
  padding: 1rem;
  background-color: #ffd52f;
  text-decoration: none;
  color: #111111;
  border-radius: 0.2rem;
  font-weight: 600;
}

.values-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4%;
  text-align: center;
  margin: 21% 5% 2% 5%;
}
.values {
  width: 100%;
  display: block;
  border: 1px solid rgb(172, 168, 168);
  box-shadow: 1px 1px 28px -9px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 1px 1px 28px -9px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 1px 1px 28px -9px rgba(0, 0, 0, 0.86);
  border-radius: 0.5rem;
}
.values div {
  height: 13em;
  padding: 1em;
}
.values:hover {
  background-color: #ffd52f;
  transform: scale(1.05);
}
.values img {
  width: 100%;
  height: 16rem;
}
.values a {
  text-decoration: none;
  color: #222222;
}

.values h1 {
  color: #1e414e;
  padding: 0.5rem 0 1rem;
}
.values p {
  color: #7e8d94;
  word-spacing: 0.2rem;
  line-height: 1.2rem;
}
.help-image {
  height: 20%;
}
.help-image img {
  position: absolute;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.help-text {
  position: relative;
  text-align: center;
  color: #fcfcfc;
  padding-top: 8%;
  margin: 0 25%;
}
.help-text h1 {
  font-size: 2.5rem;
}
.help-text p {
  font-size: 1.1rem;
}
.help-text a {
  position: relative;
  top: 4rem;
}
.alerts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 13% 5% 1% 5%;
  column-gap: 3%;
  border: 1px solid rgb(206, 199, 199);
  row-gap: 2rem;
}
.ananda-alert {
  box-sizing: border-box;
  height: 15rem;
  padding: 0 1rem;
}
.ananda-alert img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  object-position: 50% 30%;
}
.alerts-container h1 {
  grid-column: 1/4;
  text-decoration: underline;
  padding: 2rem 0 1rem 0;
  font-weight: 900;
}
.alerts-container p {
  font-weight: 600;
}
.footer {
  background-color: #313131;
  color: rgb(244, 243, 243);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 1rem 2rem;
}
.footer h1 {
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
  text-decoration: underline;
}
.footer h3 {
  font-size: 1rem;
}
.footer p {
  font-size: 0.8rem;
}
.menu a {
  text-decoration: none;
  color: rgb(244, 243, 243);
}
.menu-items,
.socials div {
  padding-bottom: 0.5rem;
}
.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}
.location-item {
  row-gap: 20rem;
}
.location h1 {
  grid-column: 1/3;
}
.menu-items {
  font-size: 1rem;
}
.copyright {
  text-align: center;
  background-color: #313131;
  color: rgb(244, 243, 243);
  font-size: 0.8rem;
}

@media screen and (max-width: 450px) {
  p {
    font-size: 0.7rem;
  }
  .banner {
    font-size: 0.6rem;
    height: 1rem;
    width: 100%;
  }
  .navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .navbar-left {
    grid-column: 1/4;
    text-align: center;
  }
  .navbar-left img {
    width: 50%;
  }
  .navbar-center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/3;
    height: 2.25em;
    margin-left: 0.9em;
  }
  #others {
    margin-left: 1em;
  }
  .navbar-right {
    display: none;
  }
  .dropdown-content {
    top: 0.8em;
    left: 0.2rem;
    min-width: 7rem;
  }
  .dropdown-content a {
    font-size: 0.4rem;
    padding-top: 0.9rem;
    padding-bottom: 0rem;
  }

  .navbar-center a,
  .navbar-center button,
  .navbar-right a {
    font-size: 1rem;
    position: relative;
    bottom: 1rem;
    font-weight: 600;
    margin: 0em 1em 1.2em 0em;
  }
  .navbar-center a,
  .navbar-center button {
    width: 75px;
  }

  .home-image {
    height: 10.5rem;
  }
  .home-image img {
    height: 45%;
    width: 100%;
  }
  .header {
    width: 50%;
  }
  .header h1 {
    font-size: 1rem;
  }
  .header p {
    font-size: 0.7rem;
  }
  .header a {
    top: 0.5rem;
    font-size: 0.7rem;
    left: 0;
    padding: 0.6rem;
  }
  .values-container {
    grid-template-columns: 1fr;
    margin-left: 3rem;
    margin-right: 3rem;
    row-gap: 1.5rem;
  }
  .values img {
    padding-top: 0;
    width: 90%;
    object-fit: contain;
  }
  .values h1 {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
  }
  .values {
    padding-top: 0;
    height: 25rem;
  }
  .values div {
    padding: 0 1.5rem;
  }

  .help-image {
    height: 2rem;
  }
  .help-image img {
    height: 50%;
    width: 100%;
  }
  .help-text {
    margin: 1rem 2rem;
  }
  .help-text h1 {
    font-size: 1.2rem;
    padding-bottom: 0.4rem;
  }
  .help-text p {
    font-size: 0.8rem;
  }
  .help-text a {
    font-size: 0.6rem;
    padding: 0.8rem;
    top: 2rem;
  }
  .alerts-container {
    margin: 60% 5% 0 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
    margin-bottom: 1rem;
  }
  .alerts-container h1 {
    grid-column: 1/3;
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .ananda-alert {
    height: auto;
    padding: 0 1rem 1.2rem 0.2rem;
  }
  .ananda-alert img {
    width: 108%;
    height: 8rem;
    padding: 0;
  }
  .ananda-alert p {
    font-size: 0.7rem;
  }
  .navbar,
  .header,
  .home-image,
  .alerts-container,
  .footer {
    max-width: 100%;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .footer h1 {
    font-size: 1.2rem;
  }
  .footer h3 {
    font-size: 1rem;
  }
  .footer p,
  .footer a {
    font-size: 0.8rem;
  }
  .location,
  .menu {
    padding-bottom: 2rem;
  }
}
